@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Track your expenses now!</h1>
    <a asp-controller="Expenses" asp-action="Index" class="btn btn-primary">Go</a>
</div>
